@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar{
  background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(95, 95, 95);
}

@font-face {
  font-family: chirp-regular;
  src: url(../public/Fonts/Chirp-Regular.80fda27a.ttf);
}

@font-face {
  font-family: chirp-heavy;
  src: url(../public/Fonts/Chirp-Heavy.f44ae4ea.ttf);
}

@font-face {
  font-family: chirp-bold;
  src: url(../public/Fonts/Chirp-Bold.ebb56aba.ttf);
}